{% extends 'user/master.html' %}
{% load staticfiles %}


{% block main %}
    <div class="box">
        <div class="header"><a href="/">Listen2nite</a><span class="chevron"> > </span> 登录 </div>
        {% if has_error %}
            <div class="problem">请解决以下问题后再提交:
                <ul>
                    {% if obj.errors.username.0 %}
                        <li>{{ obj.errors.username.0 }}</li>
                    {% endif %}
                    {% if obj.errors.password.0 %}
                        <li>{{ obj.errors.password.0 }}</li>
                    {% endif %}
                    {% if user_error %}
                        <li>{{ user_error }}</li>
                    {% endif %}
                    {% if code_error %}
                        <li>{{ code_error }}</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        <div class="inner">
            <form method="post" action="{% url 'user:login' %}">
                {% csrf_token %}
                <table cellpadding="5" cellspacing="0" border="0" width="100%">
                    {% if next_url %}
                        <input type="hidden" name="next" value="{{ next_url }}">
                    {% endif %}
                    <tbody>
                        <tr>
                            <td width="120" align="right" valign="top">
                                <div class="sep5"></div>
                                用户名
                            </td>
                            <td width="auto" align="left">
                                {{ form.username }}
                                <div class="sep5"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right">密码</td>
                            <td width="auto" align="left">
                                {{ form.password }}
                            </td>
                        </tr>
{#                        <tr>#}
{#                            <td width="120" align="right">你是机器人么?</td>#}
{#                            <td width="auto" align="left">#}
{#                                <img src="{% url 'user:checkcode' %}" id="checkCode" style="width: 120px; height: 35px; border-radius: 3px; border: 1px solid #ccc;"/>#}
{#                                <div class="sep10"></div>#}
{#                                {{ form.checkcode }}#}
{#                            </td>#}
{#                        </tr>#}
                        <tr>
                            <td width="120" align="right"></td>
                            <td width="auto" align="left">
                                <input type="submit" class="btn btn-sm btn-secondary" value="登录">
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right"></td>
                            <td width="auto" align="left">
                                <a href="#">我忘记密码了</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}

{% block rightbar %}
    <div class="box">
        <div class="cell">
            <strong>你也可以选择以下方式登录</strong>
        </div>
        <div class="inner">
            <div class="sep5"></div>
                <div align="center"><a href="{% url 'user:signup' %}" class="btn btn-sm btn-secondary">现在注册</a>
                    <div class="sep5"></div>
                    <div class="sep10"></div>
                    已注册用户请 &nbsp;<a href="{% url 'user:login' %}">登录</a></div>
        </div>
    </div>
{#    <div class="sep20"></div>#}
{#    <div class="box">#}
{#        <div class="inner"></div>#}
{#    </div>#}
    <div class="sep20"></div>
{% endblock %}

{% block JS %}
    <script>
        $("#checkCode").click(function () {
            this.src += '?'
        });
    </script>
{% endblock %}