{% extends 'user/master.html' %}
{#{% load staticfiles %}#}

{#{% block CSS %}#}
{#    <link rel="stylesheet" href="{% static 'css/user.css' %}"/>#}
{#{% endblock %}#}


{% block main %}
    <div class="box">
        <div class="header"><a href="/">Listen2nite</a><span class="chevron"> > </span> 注册 </div>
        {% if has_error %}
            <div class="problem">请解决以下问题后再提交:
                <ul>
                    {% if obj.errors.username.0 %}
                        <li>{{ obj.errors.username.0 }}</li>
                    {% endif %}
                    {% if obj.errors.password.0 %}
                        <li>{{ obj.errors.password.0 }}</li>
                    {% endif %}
                    {% if obj.errors.email.0 %}
                        <li>{{ obj.errors.email.0 }}</li>
                    {% endif %}
                    {% if obj.errors.mobile.0 %}
                        <li>{{ obj.errors.mobile.0 }}</li>
                    {% endif %}
                    {% if code_error %}
                        <li>{{ code_error }}</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        <div class="inner">
            <form method="post" action="{% url 'user:signup' %}" novalidate>
                {% csrf_token %}
                <table cellpadding="5" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="120" align="right" valign="top">
                                <div class="sep5"></div>
                                用户名
                            </td>
                            <td width="auto" align="left">
{#                                <div class="sep5"></div>#}
                                {{ form.username }}
                                <div class="sep5"></div>
                                <span class="comment">请使用英文字母 a-z,A-Z 或数字 0-9 </span>
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right">密码</td>
                            <td width="auto" align="left">
                                {{ form.password }}
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right" valign="top">
                                <div class="sep5"></div>
                                电子邮件
                            </td>
                            <td width="auto" align="left">
                                {{ form.email }}
                                <div class="sep5"></div>
                                <span class="comment">请使用真实电子邮箱注册，我们不会将你的邮箱地址分享给任何人</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right" valign="top">
                                <div class="sep5"></div>
                                手机号码
                            </td>
                            <td width="auto" align="left">
                                {{ form.mobile }}
                                <div class="sep5"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right">你是机器人么?</td>
                            <td width="auto" align="left">
                                <img src="{% url 'user:checkcode' %}" id="checkCode" style="width: 120px; height: 35px; border-radius: 3px; border: 1px solid #ccc;">
                                <div class="sep10"></div>
                                <input type="text" class="sls" name="check_code" value="" placeholder="请输入上图中的验证码"></td>
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right"></td>
                            <td width="auto" align="left">
                                <input type="submit" class="btn btn-sm btn-secondary" value="注册">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}

{% block JS %}
    <script>
        $("#checkCode").click(function () {
            this.src += '?'
        });
    </script>
{% endblock %}